<div class="entity {{entityData.className}}"
     ng-click="toggleElement(entityData.uri)"
     ng-class="{'selected': isElementSelected(entityData.uri)}"
>
  <span class="entity-description"
        popover-title="{{ entityData.label }}"
        popover="{{ entityData.popover }}"
        popover-trigger="mouseenter"
        popover-append-to-body="true">
    <i class="icon fa fa-circle fa-fw entity-icon {{entityData.className}}"></i>
    <span>{{ entityData.label }}</span>
    <span class="label label-default">{{ entityData.uri }}</span>
    <small>{{ entityData.comment | cut: 50 }}</small>
    <button ng-if="showNavigation" ng-click="showEntityDetail($event)" class="btn btn-xs btn-info">details</button>
  </span>
</div>