@import "../../bootstrap/variables.less";

body.results {

  /* Search Bar (Top bar) */
  @import "results/header.less";

  /* Loading */
  #searchInProgress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9000;

    background: rgba(255,255,255, .9);
    padding-top: 150px;

    i {
      font-size: 150px;
    }

    .lead {
      margin-top: 30px;
    }
  }

  /* Tabs */
  ul.nav.nav-tabs a {
    cursor: pointer;
  }

  /* TODO Polish these */
  .entity.class > .entity-description {
    .icon {
      color: #D1AE4F;
    }
  }
  .entity.property.object-property > .entity-description {
    .icon {
      color: #1E8AB5;
    }
  }
  .entity.ontology > .entity-description {
    .icon {
      color: #896db5;
    }
  }
  .entity.property.data-property > .entity-description {
    .icon {
      color: #6B8E23;
    }
  }
  .entity.annotation > .entity-description {
    .icon {
      color: #719FA0;
    }
  }
  .entity.instance > .entity-description {
    .icon {
      color: #541852;
    }
  }
  .entity-relations.inner-level {
    margin-left: 20px;
  }

  .entity {
    margin: 2px 0;
    padding: 1px 0 3px 5px;
    border: 1px solid transparent;

    &.selected {
      border: 1px solid @btn-primary-border;
      color: @btn-primary-color;
      background: @btn-primary-bg;
      border-radius: 3px;
      .label {
        color: @btn-primary-bg;
        background: @btn-primary-color;
      }
    }

    & > .entity-description {
      cursor: pointer;
    }
  }




}