@import "../../bootstrap/variables.less";

body.results {
  padding-top: 70px;

  /* Header related styles */
  @media screen and (max-width: @screen-sm-min) {
    .ngTagsInput {
      width: 100%;
    }
  }
  @media screen and (min-width: @screen-sm-min) {
    .ngTagsInput {
      width: 350px;
    }
  }
  @media screen and (min-width: @screen-md-min) {
    .ngTagsInput {
      width: 600px;
    }
  }
  .navbar-nav.navbar-right:last-child {
    margin: 0;
  }






}
