<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

      <title></title>
    
      <link href="@routes.Assets.at("css/bootstrap/bootstrap.css")" rel="stylesheet" media="screen">
      <link href="@routes.Assets.at("css/lib.css")" rel="stylesheet" media="screen">
  </head>
  <body>
    <div ui-view>Loading...</div>
    <script src="@routes.Application.javascriptRoutes()"></script>
    <script src="@routes.Assets.at("js/lib/require.js")"></script>
    <script>
      require({
        baseUrl: '/assets/js/app',
        paths: {
          'ngDefine'        : '../lib/angular/ngDefine',
          'angular-animate' : '../lib/angular/angular-animate',
          'angular'         : '../lib/angular/angular',
          'ui-bootstrap'    : '../lib/angular/ui-bootstrap',
          'ui-router'       : '../lib/angular/ui-router',
          'ng-tags-input'   : '../lib/angular/ng-tags-input'
        },
        shim: {
          'angular' : { exports: 'angular' }
        }
      });
      require([ 'ngDefine', 'angular'], function(ngDefine, angular) {
        require(['main'], function() {
          angular.bootstrap(document.body, ['main']);
        });
      });
    </script>
  </body>
</html>
