<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>The Ontology Kickstarter</title>
    
      <link href="@routes.Assets.at("css/bootstrap/bootstrap.css")" rel="stylesheet" media="screen">
      <link href="@routes.Assets.at("css/lib.css")" rel="stylesheet" media="screen">
      <link href="@routes.Assets.at("css/app.css")" rel="stylesheet" media="screen">
  </head>
  <body ng-controller="app" ng-class="$state.current.name">
    <div ui-view>Loading...</div>

    <div class="footer text-center text-small">
        Created by Umut Benzer - <a href="https://github.com/ubenzer/tezapp" target="_blank">Open source @@ Github</a> -
        <a href="https://github.com/ubenzer/tezapp/blob/master/README.md" target="_blank">Project Details</a> - <a target="_blank" href="mailto:umutbenzer+tezapp@@gmail.com">Contact</a>

        <a href="https://github.com/ubenzer/tezapp"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 2000;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
    </div>

    <script src="@routes.Assets.at("js/lib/require.js")"></script>
    <script>
      require({
        baseUrl: '/assets/js/app',
        paths: {
          'ngDefine'        : '../lib/angular/ngDefine',
          'angular-animate' : '../lib/angular/angular-animate.min',
          'angular-sanitize': '../lib/angular/angular-sanitize.min',
          'angular'         : '../lib/angular/angular.min',
          'ui-bootstrap'    : '../lib/angular/ui-bootstrap',
          'ui-router'       : '../lib/angular/ui-router',
          'ng-tags-input'   : '../lib/angular/ng-tags-input',
          'Blob'            : '../lib/Blob',
          'FileSaver'       : '../lib/FileSaver'
        },
        shim: {
          'angular' : { exports: 'angular' }
        }
      });
      require([ 'ngDefine', 'angular'], function(ngDefine, angular) {
        require(['main'], function() {
          angular.bootstrap(document.body, ['main']);
        });
      });
    </script>
  </body>
</html>
